<div class="mt-4" id="list-item">
                   <div class="mb-3">
                       <label for="name" class="form-label">Item name</label>
                       <label for="quantity" class="form-label">Quantity</label>
                       <label class="form-label">Unit</label>
                   </div>
                   <div class="mb-3" style="display: flex;">
                       <input type="text" class="form-control" id="name" name="name" placeholder="Enter item" maxlength="200" required>
                       <input type="number" class="form-control" id="quantity" name="quantity">
                       <div class="radio-group" style="display: flex;">
                           <input type="radio" id="g" name="options" value="g" required checked>
                           <label for="g">g</label>

                           <input type="radio" id="ks" name="options" value="ks">
                           <label for="ks">Ks</label>
                       </div>
                   </div>
               </div>