.shopping_list{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    height: 400px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.list_item_box{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.list_item_name{
    min-width: 85px;
    display: inline-block;
}

.shopping_buttons{
    display: flex;
    margin-bottom: 1.5rem;
}

.fixed-bottom-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1050; /* higher than most Bootstrap elements */
}

.main-content {
  padding-bottom: 50px; /* adjust to match the height of your fixed button */
}