.shopping_list{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    height: 400px;
    margin-bottom: 1rem;
    overflow-y: auto;
}

.list_item_box{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.list_item_name{
    min-width: 85px;
    display: inline-block;
}